body{
    margin: 0%;
}
#main{
    
    background-color: rgb(249, 244, 244);
}

#header{
    height:30px;
    width: 100%;
    background-color: rgb(231, 29, 73);
    display: flex;
}
.social{
  margin-left: 200px;
  color:white;
}
.social a{
    margin: 10px;
    color:white;
}
.head-contact{
    color: #ffffff;
    margin-left: 400px;
}
.head-contact span{
    margin-left: 100px;
}
#logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 100px;

}
#nav{
    height:50px;
    width: 100%;
    background-color:rgb(232 228 228);
    display: flex;
}
.list-item{
    display:inline-block;
    
}
.list-item a{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 40px;
    color: black;
}
#menu{
    float: right;
    padding-top:10px ;
    margin-left: 300px;
}
#slider{
    width: 100%;
    height: 500px;
    background: url(slide-img.jpg);
}
.slide{
    color:white;
    padding: 100px 100px;
}
.slide h1 span{
    color:aqua;
}
.btn-box{
    background-color: aqua;
    position: absolute;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px aqua;
    margin-top: 20px;
}
.btn-box:hover{
    box-shadow: 0 0 20px aqua,
    0 0 30px aqua
}

.btn-box a{
    color:black;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

#services{
    height: 500px;
    width: 100%;
    padding-top: 20px;
}
ul{
    margin: 0px;
    
}
h1{
    margin: 0px;
}

.title{
    text-align: center;
    color: rgb(187, 26, 66);
    margin:50px 0px 50px 0px;
    font-size: large;
}
#card-box{
    padding-left: 100px;
    display: flex;

}
.card{
    height: 350px;
    width: 400px;
    margin: 20px;
    border-radius: 20px;
}
.card-img img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
#about-us{
    width: 100%;
    height: 600px;
    padding-top: 50px;
}
#about-box{
    margin:50px 0px 0px 60px;
    display: flex;
    
}
#desc{
    width: 700px;
    height: 400px;
    display: inline-block;
}
#ab-heading{
    text-align: center;
}
.ab-para{
    margin: 50px;
    font-size: large;
    display: inline-block;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
#a-img{
    width:  700px;
    height: 400px;
}
#a-img img{
    width: 80%;
    height: 100%;
    border-radius:10px;
    box-shadow: 0 0 10px black;
}
#contact{
    height: 700px;
    width: 100%;
    display: flex;
    display: inline-block;
}
#con-form{
    width: 50%;
    height: 600px;
}
#form-box{
    width: 400px;
    height: 500px;
    margin-left: 100px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    background-color: white;

}
#form-input-box{
    margin: 30px 50px 30px 50px;
   
}
#fom-title{
    text-align: center;
    margin-top: 20px;
}
input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.msg{
    border-radius: 10px;
    width: 100%;
    resize: vertical;
}
#btn-send{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    background-color: green;
}
label{
    font-size: large;
    font-weight: bold;
}
.con-card{
    width: 500px;
    height: 130px;
    background-color: #ffffff;
    margin: 50px 50px 50px 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    padding-top: 40px;
}
.con-heading{
    color: brown;
}

#footer{
    width: 100%;
    height: 50px;
    background-color: brown;
    text-align: center;
    padding-top: 1px;
}
